.App {
  background-color: #f9f6f4;
}

.container {
  background-color: white;
}

.header {
  width: 100%;
  padding: 2%;
  background-color: #ff7f66;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header p {
  margin-top: 1.25rem;
  margin-left: 2rem;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.workout {
  border: 1px solid #ff7f66;
  width: 100%;
  border-radius: 6px;
  padding: 50px;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
  cursor: pointer;
  text-align: center;
}

.workout:hover {
  background-color: #ff7f66;
  color: white;
}

.workout-name {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.workout-date {
  font-weight: 400;
  font-size: 12px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.workout-more {
  font-weight: 400;
  font-size: 12px;
  padding: 0.5rem;
  color: white;
  background-color: #ff7f66;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.workout:hover .workout-more {
  color: #ff7f66;
  background-color: white;
}

.workout-category {
  font-weight: 200;
  font-size: 12px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.workout-container {
  min-width: 200px;
  max-width: 300px;
  padding: 50px;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
}

.workouts {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

@media only screen and (min-width: 751px) {
  .workout-container {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 750px) {
  .workout-container {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .workout-container {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}

.paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  display: inline-block;
  margin-left: 20px;
  padding-left: 0;
}

.pagination li a {
  display: inline-block;
  border: 1px solid rgb(224, 224, 224);
  color: #000;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: none;
  padding: 1rem;
  background-color: white;
}

.pagination li.active a {
  background: rgb(224, 224, 224);
  outline: none;
}

.filter-section-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.filter-section {
  display: flex;
  align-items: center;
}
.filter-section-title {
  font-family: GuillonDemi, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0.9rem;
}
.filter-section div {
  padding: 0.2rem;
  border-radius: 6px;
}
